body{
    background-color: #5285ff;
    direction: rtl;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.log-in{
    height: 360px;
    width: 300px;
    background-color: #61b2ee;
    margin: 0px 0px 0px 58px ;
    position: relative;
    right: -85px;
}
.create-new-account{
    height: 360px;
    width: 300px;
    background-color: #61b2ee;
    position: relative;
    right: -103px;
    
}
.text-log-in {
    position: relative;
    color: white;
    top: -64px;
    left: -127px;
    font-size: 20px;
  }

  .text-create-new-account {
    position: relative;
    color: white;
    top: -64px;
    font-size: 20px;
    left: -73px;
  }
#name1, #phone, #psw1 {
  width: 207px;
  height: 30px;
  border-radius: 7px;
  margin: 0px 0px 27px 0px;
}
#name1{
    margin-top: 68px;
}
.form-log-in{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
#name2,#name3,#name4,#email,#psw,#phone2{
    width: 207px;
  height: 30px;
  border-radius: 7px;
  margin: 0px 0px 10px 0px;
  position: relative;
  top: -42px;
}
#name2{
    margin-top: 62px;
}
.expect-label{
   
}

#submit {
    width: 211px;
    height: 37px;
    color: black;
    background-color: #f1f4ff;
    border-radius: 11px;
    cursor: pointer;
  }
#submit1 {
    width: 161px;
    height: 37px;
    color: black;
    background-color: #f1f4ff;
    border-radius: 11px;
    cursor: pointer;
}
.expect-submit{
    position: relative;
    top: -31px;
}

.choose-log-in {
    position: relative;
    top: -219px;
    right: 124px;
    color: white;
    cursor: pointer;
    font-size: 18px;
  }
.choose-creat{
    position: relative;
    top: -219px;
    right: 180px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}
.slash{
    position: relative;

}

.hide{
   display: none !important;
}
.hide2{
    color: #050f17 !important;
}